@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

html,
body,
header,
.view {
  height: 100%;
}

.navbar {
    z-index: 1;
}

.view {
    background: url("https://cdn.stocksnap.io/img-thumbs/960w/D812A9BD9D.jpg")no-repeat center center;
    background-size: cover;
}

.one{
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-about-left-block{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://cdn.stocksnap.io/img-thumbs/960w/5141BA396F.jpg')no-repeat center center;
    background-size: cover;
}

.img-whowe-right-block{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://cdn.stocksnap.io/img-thumbs/960w/JMEFRNTQ1F.jpg')no-repeat center center;
    background-size: cover;
}

.img-contacts-left-block{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://cdn.stocksnap.io/img-thumbs/960w/6D5263991E.jpg')no-repeat center center;
    background-size: cover;
}